.sharing {
  p.meta + & {
    padding: { top: 1em; left: 0; }
    background: $img-border top left repeat-x;
  }
}

.sharing ul li {
	display: block;
	float: left;
	margin-right: 5px;
}

li.twitter{
	width: 80px;
}

div.fb_iframe_widget{
	height: 20px;
}

#fb-root { display: none; }
